<footer>
    <div class="main-content">
        <div class="left box">
            <h2>About us</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat blanditiis aut delectus. Maiores iusto quibusdam reprehenderit consectetur id aliquid eum neque deserunt voluptatibus, rerum minus sapiente eos rem assumenda soluta!</p>
                <div class="social">
                    <a href="https://www.facebook.com/suraj.bhanu.1422/" target="_blank" style="--social-clr: #1877f2;"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Suraj41955538" target="_blank" style="--social-clr: #1da1f2;"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/_____s__u__r__a__j______/" target="_blank" style="--social-clr: #c32aa3;"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCspA5N3-gMHiUTpm-Dd6sWw" target="_blank" style="--social-clr: #ff0000;"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-location-dot icon" style="--all-clr: #1c68b5;"></span>
                    <span class="text">India</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone icon" style="--all-clr: #000080;"></span>
                    <span class="text">+91 7702860928</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope icon" style="--all-clr: #ff0000;"></span>
                    <span class="text">surajbhanu18&#64;gmail.com</span>
                </div>
            </div>
        </div>

        <div class="right box">
            <h2>Contact us</h2>
            <div class="content">
                <form action="#">
                    <div class="email">
                        <div class="text">Email <span style="color: red;">*</span></div>
                        <input type="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">Message <span style="color: red;">*</span></div>
                        <textarea cols="25" rows="2" required></textarea>
                    </div>
                    <div class="contact-us-btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="center">
            <span class="credit">Created By <a href="#">SURAJ</a> | &copy; 2024 All rights reserved.</span>
        </div>
    </div>
</footer>