<div class="wrapper">
    <div class="row">
        <div class="image-section">
            <img src="../../../assets/suraj.jpg" alt="My Image">
        </div>
        <div class="content">
            <h1>About Me</h1>
            <h2>S-Mart</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, laborum maiores! Nihil eius temporibus enim. Repudiandae tenetur iste voluptatem facilis aliquam fugiat, quod, perferendis vitae minus dicta dolorem dolores eum!</p>
            <div class="buttons">
                <a href="#" target="_blank">Read More</a>
            </div>
        </div>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/suraj.bhanu.1422/" target="_blank" style="--social-clr: #1877f2;"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/Suraj41955538" target="_blank" style="--social-clr: #1da1f2;"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/_____s__u__r__a__j______/" target="_blank" style="--social-clr: #c32aa3;"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCspA5N3-gMHiUTpm-Dd6sWw" target="_blank" style="--social-clr: #ff0000;"><i class="fab fa-youtube"></i></a>
    </div>
</div>